# Credentials and Secrets
.env

# Python environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.pytest_cache/

# MacOS specific
.DS_Store
.AppleDouble
.LSOverride
Icon

# VS Code settings
.vscode/

# Database files
Database/
*.InventoryDB
*.db
*.mdf
*.ldf

# Logs
*.log